<!DOCTYPE html>
<html>
<head>
  <title>CFC</title>

  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key']%>">
 </script>
</head>
<body>

<%= yield %>

</body>
</html>
